@use "../../main.scss" as color;
@use "../../responsive/media.scss" as query;

.skew {
  background: linear-gradient(
      to bottom right,
      color.$light-green,
      color.$dark-green
    ),
    url("../../assets/imgs/nat-4.jpg");
  background-size: cover;
  background-position: top;
  height: 70rem;
  transform: skewY(-7deg);
  position: relative;
  @include query.respond(tab) {
    transform: skewY(0deg);
    height: auto;
  }
  & .fetures {
    display: flex;
    align-items: center;
    gap: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    transform: skewY(7deg) translate(-50%, -50%);
    @include query.respond(desktop) {
      width: 90%;
      gap: 2rem;
    }
    @include query.respond(tab) {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      width: 50%;
      flex-wrap: wrap;
      align-content: center;
      padding: 6rem 0;
      position: relative;
      transform: skewY(0);
      left: 0;
    }
  }
}
