@use "../../responsive/media" as query;

.nav {
  & .logo,
  & > .bars {
    cursor: pointer;
    animation-name: bar;
    animation-duration: 1s;
  }
  & .logo {
    height: 3.5rem;
    position: absolute;
    top: 6rem;
    left: 8rem;
    z-index: 50;
    @include query.respond(tab) {
      top: 6rem;
      left: 6rem;
    }
    @include query.respond(phone) {
      height: 2.5rem;
      top: 5rem;
      left: 5rem;
    }
  }
  & > .bars {
    background-color: white;
    color: #333;
    position: fixed;
    top: 6rem;
    right: 8rem;
    border-radius: 50%;
    font-size: 1rem;
    z-index: 995;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    @include query.respond(desktop) {
      top: 5.75rem;
    }
    @include query.respond(tab) {
      top: 6rem;
      right: 6rem;
      width: 4rem;
      height: 4rem;
    }
    @include query.respond(phone) {
      height: 2.5rem;
      top: 5rem;
      right: 5rem;
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  & nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: linear-gradient(
      to left top,
      rgb(40, 180, 133, 0.99),
      rgb(126, 213, 111, 0.99)
    );
    height: 100vh;
    width: 100%;
    transition: 0.8s;
    transform: translateX(200rem);
    & .close {
      position: fixed;
      top: 6rem;
      right: 8rem;
      border-radius: 50%;
      font-size: 5rem;
      cursor: pointer;
      @include query.respond(tab) {
        top: 6.5rem;
        right: 6rem;
        font-size: 4.5rem;
      }
      @include query.respond(phone) {
        top: 5rem;
        right: 2rem;
        font-size: 4rem;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: baseline;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      & li {
        list-style-type: none;
        margin: 1.5rem;
        & a {
          color: white;
          font-weight: 100;
          font-size: 2.5rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.2s;
          display: inline-block;
          padding: 1rem;
          &:hover {
            transform: scale(1.1) translateX(1rem);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background-color: white;
            color: #55c57a;
          }
          @include query.respond(tab) {
            font-size: 2rem;
            padding: 0.9rem;
            &:hover {
              transform: scale(1.07) translateX(1rem);
            }
          }
          @include query.respond(phone) {
            font-size: 1.8rem;
            padding: 0.7rem;
            &:hover {
              transform: scale(1.05) translateX(1rem);
            }
          }
          & > span {
            padding-right: 2.5rem;
          }
        }
      }
    }
  }
}
.translate {
  transform: translateX(0rem) !important;
}

@keyframes bar {
  0% {
    transform: translateY(150rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
