// colors

$light-green: rgb(126, 213, 111, 0.6);
$medium-green: #55c57a;
$dark-green: rgb(40, 180, 133, 0.6);

$color-white: #fff;
$grey-dark: #777;
$grey-light: #f7f7f7;
$color-black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  color: $color-white;
  margin: 2rem;
  font-weight: 400;
}
